/* Sidepanel styles */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #4CAF50;
    text-align: center;
  }
  
  p {
    color: #333;
    text-align: center;
  }
  
  /* Dropdown styles */
  #collectify-dropdown div {
    text-align: left;
    font-size: 14px;
    margin: 5px 0;
  }
  